/* ESTILOS GLOBALES */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 20px;
    background-color: #e9e9e9;
}

footer {
    color: rgb(199, 199, 199);
    margin-top: 50px;
}

nav {
    background-color: white;
    -webkit-box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
    animation-name: animacionMenu;
    animation-duration: 1s;
}

.navbar-nav .dropdown-menu {
    position: absolute !important;
}

/* Para navegadores que soporten el efecto blur */

@supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
    nav {
        background-color: unset;
        -webkit-backdrop-filter: saturate(180%) blur(40px);
        backdrop-filter: saturate(180%) blur(40px);
    }
    .modal__overlay{
        -webkit-backdrop-filter: saturate(100%) blur(15px);
        backdrop-filter: saturate(100%) blur(15px);
    }
    .modal__container{
        -webkit-box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
    }
}

@keyframes animacionMenu {
    0% {
        opacity: 0;
        margin-left: -30px;
    }
    100% {
        margin-left: 0px;
        opacity: 1;
    }
}

li {
    width: 120px;
    border-width: 1px;
    font-size: 16px;
}

button {
    border-style: none;
}

.separador {
    height: 120px;
}

.input-busqueda {
    border-color: #4d7662;
    border-width: 2px;
    font-size: 18px;
    border-style: solid;
    padding: 10px;
    border-radius: 8px;
    width: 300px;
}

.input-busqueda:disabled, .input-busqueda[disabled] {
    cursor: default;
    background-color: #cccccc;
    color: #666666;
    border-color: #cccccc;
}

#radio {
    height: 40px;
    border-color: #4d7662;
    border-width: 2px;
    font-size: 18px;
    border-style: solid;
    border-radius: 8px;
}

.cargando {
    display: none;
    animation-name: animacionCargando;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier();
}

@keyframes animacionCargando {
    from {
        color: black;
    }
    50% {
        color: #1c9b6a;
    }
    to {
        color: black;
    }
}

/* ESTILOS DE INICIO */

.banner-principal {
    text-align: center;
    border-radius: 8px;
    padding: 8%;
    animation-name: animacionBanner;
    animation-duration: 1s;
}

.banner-principal h2 {
    font-size: 40px;
}


@media screen and (max-width: 640px) {
    .banner-principal h2 {
        font-size: 30px;
    }
}




@keyframes animacionBanner {
    0% {
        opacity: 0;
        margin-top: -30px;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

.boton {
    width: 250px;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    background-color: #4d7662;
    color: white;
    font-size: 20px;
    transition: 0.5s;
    -webkit-box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
}

.boton:hover {
    background-color: #75b797;
    transition: 0.5s;
}

.boton:disabled, .boton[disabled] {
    cursor: default;
    background-color: #cccccc;
    color: #666666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.caracteristicas .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.caracteristicas h2 {
    font-weight: 400;
}

.caracteristicas .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.divisor {
    margin: 5rem 0;
}

.divisor-pequeno {
    margin: 2rem 0;
}

.caracteristica-cabecera {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.subindice {
    color: rgb(155, 155, 155);
    font-style: italic;
}

@media (min-width: 40em) {
    .caracteristica-cabecera {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .caracteristica-cabecera {
        margin-top: 7rem;
    }
}

/* ESTILOS DEL LOGIN */

.body-login {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-login .checkbox {
    font-weight: 400;
}

.form-login .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.boton-login {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    background-color: #4d7662;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.boton-login:hover {
    background-color: #75b797;
    transition: 0.5s;
    -webkit-box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 15px 39px -16px rgba(0, 0, 0, 0.75);
}

/* ESTILOS DE BUSQUEDA */

#map {
    /*
    border-style: solid;
    border-color: #03793e;
    border-width: 2px;*/
    display: none;
    border-radius: 10px;
    width: 80%;
    height: 500px;
    will-change: auto;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {
    #map {
        width: auto;
    }
}

@media screen and (max-width: 500px) {
    .boton-login {
        width: 100%;
    }
    .input-busqueda {
        width: 100%;
    }
    #img-index {
        width: 100%;
    }
    .boton {
        width: 100%;
    }
    .cargando {
        font-size: 20px;
    }
}

.leaflet-popup-content {
    line-height: 1 !important;
    width: 250px !important;
}

.botonFavorito {
    color: #d39204;
    background-color: unset;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.botonFavorito:hover {
    cursor: pointer;
    color: #ffae00;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.botonEliminar {
    color: #940606;
    background-color: unset;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.botonEliminar:hover {
    cursor: pointer;
    color: #ff0000;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.botonDetalles {
    color: #032068;
    background-color: unset;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.botonDetalles:hover {
    cursor: pointer;
    color: #0540d5;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.tituloPopup {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.detallesPopup {
    font-size: 15px !important;
}

.distanciaPopup {
    font-size: 15px;
    font-weight: bold;
}

.leaflet-popup-close-button {
    font: 20px Tahoma, Verdana, sans-serif !important;
    width: 25px !important;
    color: red !important;
}

.leaflet-popup-close-button:hover {
    font-weight: bold !important;
}